*{
    margin: 0;
    padding: 0;
    color : black;
}

body{
    background-color: white;
    min-height: 100vh;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.card-body{
    height: 100vh;
    width: 90%;
    margin: auto;
}

.card-body, p, h1{
    text-align: center;
}
.card-body h1{
    color: rgb(0, 0, 71);
}

.card_area{
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    margin: auto;
    padding-top: 2%;
}

.card{
    width: 30%;
    height: 75vh;
    background: rgb(240, 240, 240);
    display: block;
    border: 2px solid rgb(182, 182, 182);
}

.card img{
    height: 50vh;
    width: 100%;
}
.number{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -25px;
}
.number p{
    height: 50px;
    width: 50px;
    background-color: tomato;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 20pt;    
    color: rgb(0, 0, 71);
}

.card-text{
    margin-top: 8%;
}